@import "tailwindcss";

@theme inline {
  --color-primary: #005853;
  --color-primary-hover: #16847e;

  --color-text: #1a1a1a;
  --color-text-secondary: #555555;
  --color-text-inverse: #ffffff;

  --color-background: #ffffff;
  --color-background-muted: #f9f9f9;
  --color-background-dark: #121212;

  --color-border: #e0e0e0;
  --color-border-focus: #005853;

  --color-secondary: #f0f0f0;
  --color-secondary-hover: #e6fffa;

  --font-sans: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
.titulo {
  font-family: "Outfit", sans-serif;
}

@layer utilities {
  .cursive {
    font-family: "Caveat", cursive;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-full text-lg font-bold text-center cursor-pointer transition-colors;
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
  }

  .btn:hover {
    background-color: var(--color-primary-hover);
  }

  @layer components {
    .link {
      @apply inline-block duration-300 after:block after:h-0.5 after:w-0 hover:after:w-full;
    }

    .link:hover {
      color: var(--color-primary);
    }

    .link::after {
      content: "";
      background-color: var(--color-primary);
      transition: all;
      transition-duration: 300ms;
    }
  }
}
